{% set title = "Balkon Katzensicher machen" %}
{% set description = "Sicherheit für die Katze ✓ Balkon ✓ Sicherer Auslauf ✓" %}

{% extends "../layout.html" %}

{% block content %}

{{ navigation(false) }}
<article class="container">
    <h1>Tipps zur Sicherung des Balkons für Ihre Katze</h1>
    <p>
        Wenn Sie in einer Wohnung mit Balkon wohnen, haben Sie schon einmal darüber nachgedacht, Ihrer Katze Zugang dazu zu gewähren, damit sie ein größeres Territorium erkunden kann? Ein Balkon kann Ihrer Katze die dringend benötigte frische Luft und eine zusätzliche Bereicherung bieten, damit sie glücklich und gesund bleibt. Katzen sollten beaufsichtigt werden, während sie den Balkon erkunden, und wenn Sie eine Wohnung mieten, fragen Sie unbedingt den Vermieter, bevor Sie wesentliche Änderungen vornehmen.
    </p>
    <p>
        Sie denken vielleicht, dass Ihre Katze sicher auf Ihrem Balkon ist. Schließlich fallen Katzen immer auf die Füße, und sie haben neun Leben! Leider ist beides nicht ganz richtig. Tatsächlich können Katzen verletzt oder sogar getötet werden, wenn sie aus großer Höhe fallen.
    </p>
    <p>
        Dies wird als Hochhaus-Syndrom bezeichnet und kann schwerwiegende Folgen für Ihr Haustier haben. Wenn Sie und Ihre Katze in einem Haus wohnen, das höher als zwei Stockwerke ist, sollten Sie darüber nachdenken, Ihren Balkon katzensicher zu machen.
    </p>
    <h2>Sicherheitsnetz für Katzen</h2>
    <p>Bringen Sie ein Sicherheitsnetz über dem Balkon an, um Ihre Katze vor Stürzen zu schützen. Dieses sollte wetterfest und haltbar sein und eine Maschenweite haben, die so klein ist, dass Ihre kleinste Katze nicht hindurchpasst.</p>
    <img class="article_image" src="/assets/trixie-drahtverstaerkt.jpg" alt="Katzennetz Drahtverstärkt"/>
    <p>Wichtig ist, dass der untere Bereich, den die Katze auch im Stehen/Sitzen erreichen kann, mit <a href="https://www.amazon-global.io/p?asin_de=B000V6K5VM&tag_de=katzenmutter0a-21" target="_blank">Draht verstärkt</a> ist, da sonst ein Hindurchkratzen, oder -beißen nicht verhindert werden kann.</p>
    <p>In den oberen Bereichen, die die Katze nur im Springen erreicht, reicht ein <a href="https://www.amazon-global.io/p?asin_de=B0009587YM&tag_de=katzenmutter0a-21" target="_blank">durchsichtiges Kunststoffnetz</a>. Dieses fühlt sich auch für uns Menschen angenehmer an, da man nicht das Gefühl hat in einer Gefängniszelle zu sitzen.</p>
    <img class="article_image" src="/assets/trixie-durchsichtig.jpeg" alt="Katzennetz Durchsichtig"/>
    <h2>Schutzraum</h2>
    <p>An heißen, sonnigen Tagen braucht Ihre Katze einen Unterschlupf auf dem Balkon. Dies kann in Form von Tischen oder Stühlen geschehen, unter denen sich Ihre Katze verstecken kann, oder in Form von breitblättrigen Pflanzen oder einem kleinen Katzenhaus.</p>
    <h2>Bepflanzung</h2>
    <p>Stellen Sie Töpfe mit Katzenminze und Katzengras zum Knabbern für Ihre Katze aus und vermeiden Sie Pflanzen, die für Katzen schädlich sind. International Cat Care hat auf seiner Website eine umfassende Liste von Pflanzen, die Sie meiden sollten, aber sprechen Sie mit Ihrem Tierarzt, wenn Sie sich unsicher sind.</p>
    <h2>Wasser</h2>
    <p>Lassen Sie einen Wassernapf auf dem Balkon stehen, aus dem Ihre Katze trinken kann. Dies ist besonders wichtig, um eine Dehydrierung an heißen Tagen zu vermeiden.</p>
    <h2>Spielzeit</h2>
    <p>Stellen Sie Kratzbäume und Spielzeug auf dem Balkon auf, damit Ihre Katze unterhalten werden kann, während sie die frische Luft genießt. Machen Sie Ihren Balkon mehrstöckig, damit Ihre Katze die Beine ausstrecken und die Aussicht aus verschiedenen Höhen erkunden kann.</p>
    <h2>Häufig gestellte Fragen zu Katzen und Balkonen</h2>
        <ul>
            <li><strong>Ist es sicher, meine Katze auf den Balkon zu lassen?</strong>
                <p>Eine Katze ist auf einem nicht umzäunten Balkon nie völlig sicher. Ihre Katze kann zwar jahrelang ohne Probleme gehen, aber es genügt ein einziger unbeholfener Moment, besonders wenn Sie sich über dem zweiten Stockwerk befinden.</p></li>
            <li><strong>Wissen Katzen, dass sie nicht von Balkonen springen dürfen?</strong>
                <p>Ja, Katzen haben eine natürliche Abneigung dagegen, aus Höhen zu springen, die sie nicht genau einschätzen können oder die sie verletzen könnten. Das bedeutet aber nicht, dass keine Unfälle passieren können. Auch wenn die meisten Katzen "auf den Füßen landen" können, gelten dennoch die Gesetze der Schwerkraft. Ein Sturz aus beliebiger Höhe kann eine Katze immer noch verletzen oder töten.</p></li>
            <li><strong>Wie hoch können Katzen fallen?</strong>
            <p>Es ist möglich, dass eine Katze aus mehreren Stockwerken fallen und trotzdem überleben kann. Gemäss dieser im Journal of American Veterinary Medical Association veröffentlichten Studie überlebten 90% der Katzen einen Sturz aus 5,5 Stockwerken (132 Fälle von Unfallberichten). Dies bedeutet NICHT, dass Katzen standardmäßig sicher sind. Zu den Schlüsselvariablen gehören die Zeit bis zum Manövrieren, Seitenwinde, Landeplatz, usw...</p></li>
        </ul>
    <p>Obwohl Balkone für Katzen ein Problem darstellen können, gibt es keinen Grund, warum selbst Hochhausbewohner ihre Katzen nicht die freie Natur genießen lassen können. Ob Sie nun aufs Ganze gehen und den gesamten Balkon katzensicher machen wollen oder einfach nur dafür sorgen wollen, dass Ihr Kätzchen sicher ist, wenn Sie sich abends bei einem Glas Wein entspannen, wir hoffen, dass dieser Artikel zeigt, dass es Möglichkeiten für jeden gibt!</p>
    </p>
    <iframe class="center youtube-embed" src="https://www.youtube.com/embed/ub6RzrRixIU" frameborder="0" allowfullscreen></iframe>
</article>
{% endblock %}
