{% set title = "Welches Futter bei nierenkranken Katzen?" %}
{% set description = "Der Große Katzenfutter Test 2017 ✓ Geeignetes Futter für nierenkranke Katzen ✓ Nierenfutter ✓ CNI/CNE Futter ✓" %}

{% extends "../layout.html" %}

{% block content %}

{{ navigation(false) }}
<article class="container">
    <h1>Welches Futter für nierenkranke Katzen (CNI/CNE)?</h1>
    <p>
        Leider kommt die Diagnose einer chronischen Niereninsuffizienz (CNI) oft unterwartet. Gerade bei diesem Krankheitsbild kann man mit der richtigen
        Ernährung das Wohlbefinden der Katze enorm steigern. Für die Ernährung einer Katze mit CNI sind vor allem zwei Faktoren wichtig: <strong>Viel Flüssigkeit und die Reduktion von Phosphor.</strong>
    </p>
    <p>
    Flüssigkeit ist für eine nierenkranke Katze sehr wichtig, Sie sollten daher unbedingt Nassfutter bevorzugen und zusätzlich mehrere Flüssigkeitsquellen anbieten. Überlegen Sie, ob sie nicht ein oder zwei
    Trinkbrunnen aufstellen können, da fließendes Wasser die Katzen meist mehr zum Trinken anregt als stilles Wasser in einer Schüssel. Versuchen Sie das
        <strong>Nassfutter</strong> mit etwas Wasser anzureichern und ggf. mit etwas Wasser zu pürieren. Da <strong>Trockenfutter</strong> der Katze
    eher Flüssigkeit entzieht, sollten Sie dieses eher vermeiden bzw. reduzieren.</p>

    <section>
        <a class="btn-cta" href="https://www.amazon-global.io/p?s=animonda integra protect niere katze&tag=katzenmutter0a-21" target="_blank">Hier gehts zu einer Auswahl an speziellem Futter für nierenkranke Katzen</a>
    </section>
    <section>
        <p>Bei einer Katze mit Niereninsuffizienz können manche Inhaltsstoffe in der Nahrung nicht mehr richtig abgebaut werden, daher ist besonders nach einer solchen Diagnose auf
        richtige und hochwertige Ernährung zu achten. Wie Sie hochwertiges Futter erkennen, können Sie <a href="/ernaehrung.html">hier</a> nachlesen. Auch die richtige Portionsgröße
            spielt eine Rolle.</p>
        <h2>Welche Portionsgröße?</h2>
        <p>Füttern Sie bei einer Katze mit Nierenbeschwerden öfter und kleinere Postionen, da der Stoffwechsel dann einfacher durchgeführt werden kann und die
        Nieren entlastet werden. Die Tagesmenge hängt natürlich vom Körpergewicht und der Haltung der Katze ab. Achten Sie auch darauf, dass ihre Katze nicht zu wenig
        frisst. Es ist wichtiger, dass sie überhaupt etwas zu sich nimmt, als sich auf eine spezielle Diät zu beschränken. In manchen Fällen ist es ratsam den
        Appetit der Katze anzuregen. Die kann durch leichtes Erwärmen oder die Gabe von appetitanregenden Medikamenten erreicht werden. Stimmen Sie sich in diesem
        Fall unebdingt mit Ihrem Tierarzt ab. Als Medikamente eignen sich beispielsweise Mirtazapin oder Cyproheptadin. Antibiotiker sollten aufgrund der teilweise
        starken Nebenwirkungen nicht eingesetzt werden.</p>
        <h2>Welche Inhaltsstoffe im Futter bei CNI-Katzen?</h2>
        <p><strong>Eiweiß:</strong> Eines der Stoffwechselnebenprodukte von Eiweiß ist Harnstoff, welcher über die Nieren ausgeschieden wird. Bei nierenkranken Katzen kann es zu einer
        langsamen anreicherung im Blut kommen, welche zu einer Vergiftung führen kann. Desshalb werden bei speziellen Nierendiäten die Proteine reduziert. Da diese Proteine allerdings
        für die Muskelregeneration benötigt werden, ist eher darauf zu achten, besonders hochwertige Proteine im Futter zu verwenden.</p>
        <p><strong>Phosphat:</strong> Durche eine Krankheit beeinträchtigte Nieren können Phosphat nicht im ausreichenden Maß über den Urin ausscheiden. Ein zu hoher Phosphatspiegel kann dem Körper sehr schaden; er führt zu Übelkeit und Phosphat kann in Zusammenhang mit einem Ungleichgewicht im Kalziumspiegel eine sekundäre Überfunktion der Nebenschilddrüsen auslösen.
            Aus diesem Grund müssen Katzen mit einer Nierenkrankheit unbedingt phosphatarm ernährt werden. Alternativ kann man Phosphatbinder einsetzen um die Ausscheidung des Phospates über den Darm zu ermöglichen. Ein zu niedriger Phosphatspiegel ist sehr selten und kann bei insulinpflichtigen Katzen vorkommen. Bitte besprechen Sie den individuellen Fall Ihrer Katze mit Ihrem Tierarzt</p>
        <p><strong>Natrium:</strong> Auch Natrium können von erkrankten Nieren nicht mehr ausreichend ausgeschieden werden und kann zu einer Verschlechterung der Gesundheit führen. Eine
        natriumreduzierte Diät ist daher zu bevorzugen.</p>
        <p><strong>Fett:</strong> Viele Nierendiäten haben einen reduzierten Protein- und Kohlenhydrateanteil. Die fehlenden Kalorien können durch gute Fette aufgebessert werden.</p>
        <p><strong>Vitamine:</strong> Wie auch bei anderen Krankheiten haben Katzen mit Niereninsuffizienz einen erhöhten Vitaminbedarf. In manchen Fällen sind sogar Vitaminergänzungsmittel ratsam.</p>
    </section>
    <section>
        <h2>Spezielle Nierendiäten</h2>
        <p>Im Fachhandel gibt es spezielle Nierendiäten von unterschiedlichen Herstellern. Achten Sie dabei immer auf die hochwertige Zusammensetzung des
        Futters und spechen Sie sich im Bedarfsfall mit Ihrem Tierarzt ab.</p>
    </section>
</article>
{% endblock %}
